<ion-content [fullscreen]="true">

  <div class="background-grid">
    @for(champion of championNames ; track $index) {
      <img [src]="'assets/champion-icons/' + champion + '.png'" class="champion-icon"/>
    }    
  </div>

  <div class="menu-content">

    <div class="logo-container">
      <img src="assets/icon/favicon.png">
    </div>

    <div class="title-container">
      Loldle Infinite
    </div>

    <div class="buttons-container">
      <app-button title="Classique" subtitle="Le mode de jeu orignal" path="classic"/>
      <app-button title="Caractéristiques" subtitle="Les attributs" path="characteristics"/>
      <app-button title="Filtrage" subtitle="Les bons critères" path="filter"/>
      <app-button title="Chronologie" subtitle="Les dates de sortie" path="chronology"/>
      <app-button title="Apprendre" subtitle="Découvrez les champions" path="learn"/>
      <app-button title="Mes stats" subtitle="Consultez vos scores" path="stats"/>
    </div>

  </div>
  
</ion-content>
