<ion-content [fullscreen]="true" class="stats-characteristics-content">

  <app-navbar title="Mes stats : Caractéristiques"/>
  
  @if(!stats.length) {
    <div class="empty-stats-warning">
      Aucun score à afficher.
    </div>
  }

  @else {
    <div class="global-stats">
      <div class="stat-item">🎯 Gagnées : {{wonCount}}</div>
      <div class="stat-item">❌ Perdues : {{lostCount}}</div>
      <div class="stat-item">📊 Total : {{totalCount}}</div>
    </div>

    <div class="stats-list">
      @for(stat of stats.slice().reverse(); track $index) {
        <div class="stat-card" [ngClass]="{'won': stat.gameState === 'Gagné', 'lost': stat.gameState === 'Perdu'}">
          
          <div class="card-header">
            <div class="state-label">{{stat.gameState}}</div>
            <div class="date-label">{{stat.date}}</div>
          </div>

          <div class="stat-content">
            <img [src]="stat.answer_icon" alt="Champion icon" class="champion-icon" />

            <div class="stat-info">
              <div class="characteristics">{{stat.answer_name}} : {{stat.attribute}}</div>
              <div class="answer">Bonne réponse : {{stat.answer.join(", ")}}</div>
              @if(stat.gameState === "Perdu") {
                <div class="user-answer">Votre réponse : {{stat.user_answer.length > 0 ? stat.user_answer.join(", ") : "-"}}</div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }

</ion-content>
