<ion-content [fullscreen]="true" class="learn-content">

  <app-navbar title="Apprendre" />

  <p class="instruction">Sélectionnez un champion pour voir ses attributs.</p>

  <ion-list>
    @for(champion of champions ; track $index) {
      <ion-item (click)="selectChampion(champion)">
        <img class="champion-icon" [src]="'assets/champion-icons/' + champion.name + '.png'" slot="start"/>
        <ion-label>{{champion.name}}</ion-label>
      </ion-item>

      @if(selectedChampion && selectedChampion.name === champion.name) {
        <ion-card>
          <ion-card-content>
            <p><strong>Genre : </strong>{{champion.gender}}</p>
            <p><strong>Rôle : </strong>{{champion.role.join(", ")}}</p>
            <p><strong>Espèce : </strong>{{champion.species.join(", ")}}</p>
            <p><strong>Ressource : </strong>{{champion.resource}}</p>
            <p><strong>Portée : </strong>{{champion.range.join(", ")}}</p>
            <p><strong>Région : </strong>{{champion.region.join(", ")}}</p>
            <p><strong>Année : </strong>{{champion.year}}</p>
          </ion-card-content>

          <div class="button-container">
            <ion-button shape="round" (click)="clearSelection()">Fermer</ion-button>
          </div>
        </ion-card>
      }
    }
  </ion-list>
  
</ion-content>