.question {
  padding: 16px;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.champion-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 12px;
  padding: 16px;
  justify-items: center;
  align-items: center;
  max-width: 100%;
}

.champion-img {
  border-radius: 12px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  padding: 6px;
  cursor: pointer;
}

.champion-img img {
  width: 80px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.champion-img.selected {
  background-color: #23af44;
}

.champion-img.true-positive {
  background-color: #23af44;
}

.champion-img.false-positive {
  background-color: #e04e4e;
}

.champion-img.false-negative {
  background-color: #e0982d;
}

.button-container {
  display: flex;
  justify-content: center;
}

.result {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}