<ion-content [fullscreen]="true">
  <app-navbar title="Filtrage" />

  <div class="question">
    Quels sont les champions dont {{attributeDisplay}} est <strong>{{value}}</strong> ?
  </div>

  <div class="champion-grid">
    @for (choice of choices ; track $index) {
      <div
        class="champion-img"
        [ngClass]="getResultClass($index)"
        (click)="toggleSelection($index)">

        <img [src]="'assets/champion-icons/' + choice.name + '.png'" />

        <div class="champion-name-banner">
          {{choice.name}}
        </div>
      </div>
    }
  </div>

  @if(!showResult) {
    <div class="button-container">
      <ion-button (click)="submit()">Valider</ion-button>
    </div>
  }

  @else {
    <div class="button-container">
      <ion-button (click)="resetGame()">Rejouer</ion-button>
    </div>

    <div class="result">
      @if (won) {
        Bonne réponse !
      }
      
      @else {
        Mauvaise réponse !
      }
    </div>
  }
</ion-content>