<ion-content [fullscreen]="true">

  <app-navbar title="Filtrage"/>

  <div class="game-container">
    <div class="question">
      Quels sont les champions dont {{attributeDisplay}} est <strong>{{value}}</strong> ?
    </div>

    <div class="champion-grid">
      @for (choice of choices ; track $index) {
        <div
          class="champion-img"
          [ngClass]="getResultClass($index)"
          (click)="toggleSelection($index)">

          <img [src]="'assets/champion-icons/' + choice.name + '.png'" />

          <div class="champion-name-banner">
            {{choice.name}}
          </div>
        </div>
      }
    </div>

    @if(!showResult) {
      <ion-button expand="block" (click)="submit()">Valider</ion-button>
    }

    @else {
      <ion-button expand="block" (click)="resetGame()">Rejouer</ion-button>

      <div class="result">
        @if (won) {
          Bonne réponse !
        }
        
        @else {
          Mauvaise réponse !
        }
      </div>
    }
  </div>

</ion-content>